<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/dsmap.css" type="text/css" />
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9c209260351fec6bb617697d6dbda1cf&libraries=services,clusterer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.umd.min.js"></script>
    <script type="module" src="/js/mainjs.js" defer></script>
    <title>Document</title>
</head>

<body>
<div class="container-fluid row m-0 p-0 h-100">

    <div class="col-sm-4 mx-0 p-1 mt-auto mb-2" style="height: 35%">
        <div class="menu">
            <div class="container-fluid m-0 p-0">
                <div class="d-flex ml-5">
                    <p class="h1 text-info text-conter d-lg-none m-0"><a class="nav-link a-hvr d-lg-none text-reset p-0" onclick="loadMain()">DSMAP</a></p>
                </div>
                <div class="d-flex ml-5">
                    <p class="h1 text-info text-conter d-none d-lg-block m-0"><a class="nav-link a-hvr d-none d-lg-block text-reset p-0" onclick="loadMain()">D<small>isaster</small>S<small>afety</small>M<small>ap</small></a></p>
                </div>
            </div>
            <div class=" ml-5 mr-auto mt-2 d-lg-none">
                <p class="text-info d-lg-none m-0 p-0">
                    <small class="addressName"></small>
                    <span class="fw-bold text-danger myAddressCount"></span> <small class="gun">건 </small>
                    <span class="p-0 pt-1 border-0 rounded bg-white align-middle">
                        <input type="button" class="btnreloadimg m-0 p-0" onclick="updateMainData()">
                    </span>
                </p>
            </div>
            <div class="ml-5 mt-2 d-none d-lg-block">
                <p class="text-info d-none d-lg-block m-0 p-0">
                    <small>현재 위치</small> : <small class="addressName"></small>
                    <span class="fw-bold text-danger myAddressCount"></span> <small class="gun">건 </small>
                    <span class="p-0 pt-1 border-0 rounded bg-white align-middle">
                        <input type="button" class="btnreloadimg m-0 p-0" onclick="updateMainData()">
                    </span>
                </p>
            </div>
            <!--        <nav class="navber navbar-expand-sm">-->
            <div class="container-fluid w-75 m-0 p-0">
                <!--                <ul class="navbar-nav justify-content-center nav-pills nav-fill" id="navbarSupportedContent">-->
                <ul class="list-group nav-pills nav-fill w-50 mx-5" id="navbarSupportedContent">
                    <li class="list-group overflow-hidden" style="transition: all 0.4%;" id="mainlist">
                        <!-- <a class="nav-link" href="#">홈 <span class="sr-only">(current)</span></a> -->
                        <!-- <button class="list-group-item m-0 p-0 bg-light"  style="border: none;" onclick="loadMain()">홈</button> -->
                        <p class="p-hvr my-1 p-0 pl-2"><a class="nav-link text-reset p-0" onclick="loadMain()">홈</a></p>
                    </li>
                    <li class="list-group overflow-hidden" id="maplist">
                        <!--<button class="list-group-item m-0 p-0 bg-light"  style="border: none;" onclick="loadMap()">지도</button> -->
                        <p class="p-hvr my-1 p-0 pl-2"><a class="nav-link text-reset  p-0" onclick="loadMap()">지도</a></p>
                    </li>
                    <li class="list-group overflow-hidden" id="listlist">
                        <!-- <button class="list-group-item m-0 p-0 bg-light"  style="border: none;" onclick="loadMsgList()">통계</button> -->
                        <p class="p-hvr my-1 p-0 pl-2"><a class="nav-link text-reset p-0" onclick="loadMsgList()">리스트</a></p>
                    </li>

                    <li class="list-group overflow-hidden" id="type" showType="">
                    </li>
                </ul>
            </div>
            <!--</nav>-->
        </div>
        <div class="p-0 mb-2 ml-0" style="display:none; overflow:auto; height: 100%; border: 1px solid black;" id="mapmsg">
            <table class="table table-bordered table-sm align-middle m-0 p-0" style="table-layout:fixed" id="mapmsgtable">
                <thead class="border-top-primary">
                <colgroup>
                    <col width="80%">
                    <col width="20%">
                </colgroup>
                <tr>
                    <th class="border-x" scope="col-5">
                        <span>재난문자</span>
                    </th>
                    <th style="width:20px" scope="col-4">
                        <span>등록일</span>
                    </th>
                </tr>
                </thead>
                <tbody class="table-hover" id="mapmsglist">
                </tbody>
            </table>

        </div>

    </div>
    <div class="col-sm-8 my-auto mx-0 p-0">
        <section id="section1">
            <div id="content" class="container-fluid m-0 p-0">
                <div id target></div>
            </div>
            <div id="map" style="width:100%;height:700px;"></div>
        </section>
    </div>

</div>


<div class="summery m-0 p-0 pr-1 pb-1 align-content-center">
    <p class="m-0 p-0"><small>지도 API : 카카오 맵</small></p>
    <p class="m-0 p-0 alarm"><small style="color: green;">초록색</small><small> : 메세지 </small><small style="color: green;">1</small><small>개</small></p>
    <p class="m-0 p-0 alarm"><small style="color: yellow;">노란색</small><small> : 메세지 </small><small style="color: yellow;">1</small><small>개</small></p>
    <p class="m-0 p-0 alarm"><small style="color: red;">빨간색</small><small> : 메세지 </small><small style="color: red;">1</small><small>개</small></p>
    <p class="m-0 p-0"><small id="time"></small></p>
</div>

<div class="top-alarm alarm m-0 p-0 pr-1 mt-1 align-content-center">
    <p class="m-0 p-0"><small style="color: green;">초록색</small><small> : 메세지 </small><small style="color: green;">1</small><small>개</small></p>
    <p class="m-0 p-0"><small style="color: yellow;">노란색</small><small> : 메세지 </small><small style="color: yellow;">1</small><small>개</small></p>
    <p class="m-0 p-0"><small style="color: red;">빨간색</small><small> : 메세지 </small><small style="color: red;">1</small><small>개</small></p>
</div>

<!--<div class="summery">-->
<!--    <p>summery</p>-->
<!--</div>-->
</body>

</html>