<div class="container-fluid m-0 p-0 row h-50">
<!--    <div class="col-sm-12 mx-2 my-4 text-center">-->
<!--        <p class="text-center align-middle text-center h4 "><small id="addressName">경상북도 울진군</small> <span class="fw-bold text-danger" id="myAddressCount">?</span> <small>건</small> </p>-->
<!--    </div>-->
<!--    <div class="col-sm-6 h-50 px-5 mt-5">-->
<!--        <p class="h5 mx-5 my-5">DSMAP은 D<small>isaster</small>S<small>afety</small>M<small>ap</small>으로 대한민국의 재난안전문자 api를 활용하여 재난문자를 지도를 통해 시각적으로 표현하여 정보를 전달하는 사이트이다</p>-->
<!--    </div>-->
</div>
<div id="chartContainer">
    <canvas id="myChart"></canvas>
</div>