<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disaster Message Statistics</title>
</head>
<body>
<div id="chartContainer">
    <canvas id="myChart"></canvas>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.umd.min.js"></script>
<script src="/js/main_script.js"></script>

<style>
    #chartContainer {
        height: 50\0px;
        width: 500px; /* 차트 컨테이너의 너비를 줄임 */
        max-width: 600px; /* 최대 너비를 설정 */
        margin: auto; /* 가운데 정렬 */
    }
</style>
</body>
</html>