<!-- UserMapper.xml -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.men4.dsmap.mybatis.MessageMapper">

    <resultMap id="regionWithMessages" type="team.men4.dsmap.model.entity.RegionWithMessages">
        <result property="id" column="region_id"/>
        <result property="code" column="code"/>
        <result property="lv1Name" column="lv1_name"/>
        <result property="lv2Name" column="lv2_name"/>
        <result property="lv3Name" column="lv3_name"/>
        <result property="x" column="loc_x"/>
        <result property="y" column="loc_y"/>

        <collection property="messages" ofType="team.men4.dsmap.model.entity.Message">
            <id property="id" column="msg_id"/>
            <result property="content" column="content"/>
            <result property="date" column="date"/>
        </collection>
    </resultMap>

    <resultMap id="regionWithMessage" type="team.men4.dsmap.model.entity.RegionWithMessage">
        <result property="lv1Name" column="lv1_name"/>
        <result property="lv2Name" column="lv2_name"/>
        <result property="lv3Name" column="lv3_name"/>
        <result property="content" column="content"/>
        <result property="date" column="date"/>

    </resultMap>


    <select id="selectMsgAll" resultMap="regionWithMessages">
        <![CDATA[
            SELECT m.id as msg_id, m.content, m.date, r.id as region_id, code, lv1_name, lv2_name, lv3_name, loc_x, loc_y
            FROM message m
            JOIN message_region mr ON m.id = mr.msg_id
            JOIN region r ON r.id = mr.region_id
            where
	            date > "2024-06-13 00:00:00"
            AND
	            date <"2024-06-15 11:00:00"
        ]]>
    </select>


    <select id="selectMsg" parameterType="map" resultMap="regionWithMessages">
        <![CDATA[
            SELECT m.content, m.date ,lv1_name, lv2_name, lv3_name, loc_x, loc_y
            FROM message m
            JOIN message_region mr ON m.id = mr.msg_id
            JOIN region r ON r.id = mr.region_id
            WHERE
        ]]>
        <trim prefixOverrides="AND">
            <if test="q1 != null">
                AND lv1_name LIKE #{q1}
            </if>
            <if test="q2 != null">
                AND (lv2_name LIKE "None" OR lv2_name LIKE #{q2})
            </if>
            <if test="q3 != null">
                AND (lv3_name LIKE "None" OR lv3_name LIKE #{q3})
            </if>
        </trim>
        ;
    </select>


    <select id="selectPage" parameterType="map" resultMap="regionWithMessage">
        <![CDATA[
            SELECT m.content, m.date ,lv1_name, lv2_name, lv3_name
            FROM message m
            JOIN message_region mr ON m.id = mr.msg_id
            JOIN region r ON r.id = mr.region_id
            WHERE
        ]]>
        <trim prefixOverrides="AND">
            <if test="q1 != null">
                AND lv1_name LIKE #{q1}
            </if>
            <if test="q2 != null">
                AND (lv2_name LIKE "None" OR lv2_name LIKE #{q2})
            </if>
            <if test="q3 != null">
                AND (lv3_name LIKE "None" OR lv3_name LIKE #{q3})
            </if>
        </trim>
        ORDER BY m.date DESC
        LIMIT 10 OFFSET #{offset};
    </select>

    <select id="selectNum" parameterType="map"  resultType="Integer">
        <![CDATA[
            SELECT count(*)
            FROM message m
            JOIN message_region mr ON m.id = mr.msg_id
            JOIN region r ON r.id = mr.region_id
            WHERE
        ]]>
        <trim prefixOverrides="AND">
            <if test="q1 != null">
                AND lv1_name LIKE #{q1}
            </if>
            <if test="q2 != null">
                AND (lv2_name LIKE "None" OR lv2_name LIKE #{q2})
            </if>
            <if test="q3 != null">
                AND (lv3_name LIKE "None" OR lv3_name LIKE #{q3})
            </if>
        </trim>;

    </select>


</mapper>
