

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.men4.dsmap.mybatis.TotalMapper">

    <resultMap id="totalResultMap" type="team.men4.dsmap.model.entity.Total">
        <id property="name" column="name"/>
        <result property="count" column="count"/>
    </resultMap>

    <select id="selectTotal" resultMap="totalResultMap">
        SELECT * FROM today_total;
    </select>

    <select id="selectTotalByRegion" parameterType="map" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM message m
        JOIN message_region mr ON m.id = mr.msg_id
        JOIN region r ON r.id = mr.region_id
        WHERE
            r.lv1_name LIKE #{q1}
        AND
            DATE(date) = CURDATE()
        AND (
            (r.lv2_name = 'None' OR r.lv2_name LIKE #{q2})
            AND
            (r.lv3_name = 'None' OR r.lv3_name LIKE #{q3})
            )
        GROUP BY r.lv1_name, r.lv2_name, r.lv3_name;
    </select>

</mapper>
