<!-- UserMapper.xml -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.men4.dsmap.mybatis.TestMapper">

    <resultMap id="userResultMap" type="team.men4.dsmap.model.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="email" column="email"/>
    </resultMap>

    <select id="selectAll" resultMap="userResultMap">
        SELECT * FROM user;
    </select>

    <select id="select" resultType="team.men4.dsmap.model.User">
        SELECT * FROM user WHERE id = 1;
    </select>

    <insert id="insert" parameterType="team.men4.dsmap.model.User">
        INSERT INTO user VALUES (#{id}, #{username}, #{email});
    </insert>

    <update id="update" parameterType="team.men4.dsmap.model.User">
        UPDATE user SET username = #{username} WHERE id = #{id};
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM user WHERE id = #{id};
    </delete>

</mapper>
