.head{
    border: 1px solid blue;
    width: auto;
    margin-bottom: 1%;
}

.content{
    width: auto;
    display: flex;
}

.summery{
    border: 1px solid chartreuse;
    width: auto;
    margin-top: 1%;
}

.contentLeft{
    border: 1px solid red;
    flex: 1;
    width: 15%;
}

.contentCenter{
    border: 1px solid aqua;
    flex: 1;
    width: 70%;
    margin-left: 1%;
    margin-right: 1%;
}

.contentRight{
    border: 1px solid red;
    flex: 1;
    width: 15%;
}