body {
    height: 100vh;
}

td {
    text-align : center;
}

.summery{
    position: fixed;
    bottom: 0px;
    right: 0px;
    background: rgb(0.1);
    z-index: 5;
}

.menu {
    position: fixed;
    top: 40%;
    bottom: auto;
    left: 10px;
    white: 100%;
    z-index: 1;
}

.p-hvr {
    color: green;
    position: relative;
}

.p-hvr::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, blue 20%, white 80%);
    top: 0;
    left: -120%;
    transition: all 0.4s;
    z-index: -1;
}

.p-hvr:hover::before {
    transform: translateX(120%);
}

.p-hvr:hover {
    /*background: blue;*/ /* 호버 시 배경색 */
    transform: scaleY(1.1); /* 호버 시 세로로 1.1배 확대 */
    padding-left: 8px;
    color: white;
}

.menuaction {
    background-color: rgb(0, 0, 255, 0.6);
    color : white;
}

 #chartContainer {
     height: 500px;
     width: 700px; /* 차트 컨테이너의 너비를 줄임 */
     max-width: 700px; /* 최대 너비를 설정 */
     margin: auto; /* 가운데 정렬 */
 }

.customInfoWindow{
            width: 290px; /* 원하는 너비로 설정 */
            height: auto; /* 원하는 높이로 설정 */
            box-sizing: border-box;
            background-color: white;
            border: 1px solid black;
}