.head{
    border: 1px solid blue;
    width: auto;
    margin-bottom: 1%;
}

.content{
    width: auto;
    display: flex;
}

.summery{
    border: 1px solid chartreuse;
    width: auto;
    margin-top: 1%;
}

.contentLeft{
    border: 1px solid red;
    flex: 1;
    width: 15%;
}

.contentCenter{
    border: 1px solid aqua;
    flex: 1;
    width: 70%;
    margin-left: 1%;
    margin-right: 1%;
}

.contentRight{
    border: 1px solid red;
    flex: 1;
    width: 15%;
}

.p-hvr:hover {
    background: blue; /* 호버 시 배경색 */
    /*transform: scale(1.1); */ /* 호버 시 확대 효과 1.1배 확대 */
}

.gradient-menubackground {
    background: linear-gradient(to right, blue 20%, white 80%);
}

.menuaction {
    background-color: rgb(0, 0, 255, 0.6);
    color : white;
}

 #chartContainer {
     height: 500px;
     width: 700px; /* 차트 컨테이너의 너비를 줄임 */
     max-width: 700px; /* 최대 너비를 설정 */
     margin: auto; /* 가운데 정렬 */
 }